.app__button {
  font-family: inherit;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(132.95deg, #ffc301 9.31%, #ff6533 79.4%);
  box-shadow: 15px 15px 35px rgba(226, 142, 15, 0.18);
  border-radius: 13px;
  padding: 5px 16px;
  border: none;
  font-size: 17px;
  line-height: 175.4%;
  letter-spacing: 0.02em;
  color: #1b1a17;
}
